.hike-carousel-container {
    width: 100vh;
    background-color: black;
}

.hike-poster {
    height: 300px;
}

.hike-poster > img {
    height: 100%;
    width: 100%;
}
.hike-card-container {
    height: 550px;
    background-color: black;
}